# Path: docker/standard_validator/docker-compose.yml
# Change: Removed obsolete 'version' key.

services:
  guardian:
    build:
      context: ../../
      dockerfile: docker/standard_validator/Dockerfile
    command: [ "guardian" ]
    container_name: guardian
    networks:
      - depin-internal
    ports:
      - "8443:8443"

  orchestration:
    build:
      context: ../../
      dockerfile: docker/standard_validator/Dockerfile
    command: [ "orchestration" ]
    container_name: orchestration
    depends_on:
      - guardian
    environment:
      - GUARDIAN_ADDR=guardian:8443
    ports:
      - "9944:9944"
      - "4001:4001"
    networks:
      - depin-internal

  workload:
    build:
      context: ../../
      dockerfile: docker/standard_validator/Dockerfile
    command: [ "workload" ]
    container_name: workload
    depends_on:
      - guardian
    environment:
      - GUARDIAN_ADDR=guardian:8443
    networks:
      - depin-internal

networks:
  depin-internal:
    driver: bridge
