# Path: docker/standard_validator/docker-compose.yml
version: '3.8'

services:
  guardian:
    build:
      context: ../..
      dockerfile: docker/standard_validator/Dockerfile
    # The main binary accepts the container role as the first argument.
    command: [ "guardian" ]
    container_name: guardian
    networks:
      - depin-internal

  orchestration:
    build:
      context: ../..
      dockerfile: docker/standard_validator/Dockerfile
    command: [ "orchestration", "--listen-address", "/ip4/0.0.0.0/tcp/4001", "--config-dir", "/app/config" ]
    container_name: orchestration
    depends_on:
      - guardian
    ports:
      - "9944:9944" # RPC
      - "4001:4001" # P2P
    networks:
      - depin-internal

  workload:
    build:
      context: ../..
      dockerfile: docker/standard_validator/Dockerfile
    command: [ "workload" ]
    container_name: workload
    depends_on:
      - guardian
    networks:
      - depin-internal

networks:
  depin-internal:
    driver: bridge
