# Path: .dockerignore

# Ignore build artifacts
**/target/
**/Cargo.lock

# Ignore Git history
.git/

# Ignore editor and environment-specific files
.vscode/
.vscode-server/
.devcontainer/
.idea/

# Ignore specific files
.gitignore
.dockerignore
.env