# Path: Cargo.toml

# Explicitly opt-in to the unstable 'profile-rustflags' feature.
# This is required by the nightly toolchain to allow setting rustflags
# on a per-package basis, which is necessary for our mixed std/no_std build.
cargo-features = ["profile-rustflags"]

[workspace]
resolver = "2"
members = [
    # Renamed from "binaries"
    "crates/node",
    # New developer toolkit and E2E test crate
    "crates/forge",
    # Renamed from "contract-sdk"
    "crates/contract",

    # Core SDK library crates
    "crates/chain",
    "crates/commitment",
    "crates/consensus",
    "crates/api",
    "crates/types",
    "crates/crypto",
    "crates/homomorphic",
    "crates/network",
    "crates/services",
    "crates/test_utils",
    "crates/transaction_models",
    "crates/validator",
    "crates/vm/wasm",

    # Add the test contract as a workspace member
    "crates/forge/tests/contracts/counter",
]

[workspace.dependencies]
# Add depin-sdk-contract to the workspace dependencies
depin-sdk-contract = { path = "crates/contract", default-features = false }

# Networking
libp2p = { version = "0.52", features = [
    "tokio",
    "gossipsub",
    "mdns",
    "macros",
    "request-response",
    "identify",
    "yamux",
    "tcp",
    "noise",
] }
reqwest = { version = "0.11", features = ["json"] }
axum = { version = "0.6", features = ["json"] }

# Async
tokio = { version = "1", features = ["full"] }
futures = "0.3"
async-trait = "0.1"

# Serialization & Data Formats
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.8"
bytes = "1"
hex = "0.4"
serde_bytes = "0.11"
prost = "0.12"

#mTLS
tokio-rustls = "0.25.0"
rustls = { version = "0.22.2", features = ["ring"] }
rcgen = "0.12.0"
webpki-roots = "0.26.0"

# Cryptography
rand = "0.8"
dcrypt = { version = "0.14.0-beta.3", features = ["full"] }

# CLI & Logging
clap = { version = "4", features = ["derive"] }
log = "0.4"
env_logger = "0.10"

# Error Handling
thiserror = "1.0"
anyhow = "1.0"

# VM
wasmtime = { version = "19.0.1" }
