# Path: Cargo.toml

# Explicitly opt-in to the unstable 'profile-rustflags' feature.
# This is required by the nightly toolchain to allow setting rustflags
# on a per-package basis, which is necessary for our mixed std/no_std build.
cargo-features = ["profile-rustflags"]

[workspace]
resolver = "2"
members = [
    # Renamed from "binaries"
    "crates/node",
    # New developer toolkit and E2E test crate
    "crates/forge",
    # Renamed from "contract-sdk"
    "crates/contract",

    # Core SDK library crates
    "crates/chain",
    "crates/commitment",
    "crates/consensus",
    "crates/api",
    "crates/types",
    "crates/crypto",
    "crates/homomorphic",
    "crates/network",
    "crates/services",
    "crates/test_utils",
    "crates/transaction_models",
    "crates/validator",
    "crates/vm/wasm",

    # Add the test contract as a workspace member
    "crates/forge/tests/contracts/counter",
    "crates/forge/tests/contracts/test-service",
]

[workspace.dependencies]
# Add depin-sdk-contract to the workspace dependencies
depin-sdk-contract = { path = "crates/contract", default-features = false }

# Networking
libp2p = { version = "0.52", features = [
    "tokio",
    "gossipsub",
    "mdns",
    "macros",
    "request-response",
    "identify",
    "yamux",
    "tcp",
    "noise",
] }
reqwest = { version = "0.11", features = ["json"] }
axum = { version = "0.6", features = ["json"] }

# Async
tokio = { version = "1", features = ["full"] }
futures = { version = "0.3" }
async-trait = { version = "0.1" }

# Serialization & Data Formats
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
toml = { version = "0.8" }
bytes = { version = "1" }
hex = { version = "0.4" }
serde_bytes = { version = "0.11" }
prost = { version = "0.12" }
base64 = { version = "0.21" }
bincode = { version = "1.3.3" }

#mTLS
tokio-rustls = { version = "0.25.0" }
rustls = { version = "0.22.2", features = ["ring"] }
rcgen = { version = "0.12.0" }
webpki-roots = { version = "0.26.0" }

# Cryptography
rand = { version = "0.8" }
dcrypt = { version = "0.14.0-beta.7", features = ["full"] }

# CLI & Logging
clap = { version = "4", features = ["derive"] }
log = { version = "0.4" }
env_logger = { version = "0.10" }

# Error Handling
thiserror = { version = "1.0" }
anyhow = { version = "1.0" }

# VM
wasmtime = { version = "19.0.1" }

# Codecs
parity-scale-codec = { version = "3", features = ["derive"] }

# Caching
lru = { version = "0.12.3" }
dashmap = { version = "5.5" }
