# Path: Cargo.toml

[workspace]
resolver = "2"
members = [
    "crates/binaries",
    "crates/chain",
    "crates/commitment_schemes",
    "crates/consensus",
    "crates/core",
    "crates/crypto",
    "crates/homomorphic",
    "crates/services",
    "crates/state_trees",
    "crates/sync",
    "crates/test_utils",
    "crates/transaction_models",
    "crates/validator",
]

[workspace.dependencies]
# Networking
libp2p = { version = "0.52", features = [
    "tokio",
    "gossipsub",
    "mdns",
    "macros",
    "request-response",
    "identify",
    "yamux",
    "tcp",
    "noise",
] }

# Async
tokio = { version = "1", features = ["full"] }
futures = "0.3"
async-trait = "0.1"

# Serialization & Data Formats
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.8"
bytes = "1"
hex = "0.4"
serde_bytes = "0.11"

# Cryptography
sha2 = "0.10"
rand = "0.8"
curve2f519-dalek = "4.0"
dcrypt = { version = "0.12.0-beta.1", features = ["full"] }

# CLI & Logging
clap = { version = "4", features = ["derive"] }
log = "0.4"
env_logger = "0.10"

# Error Handling
thiserror = "1.0"
anyhow = "1.0"
