# .cargo/config.toml

# Only when building for wasm32 do we:
#  1. Pass `-C panic=abort`
#  2. Turn on `-Z build-std` and `-Z build-std-features`
[target.'cfg(target_arch = "wasm32")']
rustflags = ["-C", "panic=abort"]

[target.'cfg(target_arch = "wasm32")'.unstable]
# Note: these must be comma-separated strings, not TOML arrays
build-std = "core,compiler_builtins,alloc"
build-std-features = "panic_immediate_abort"
